{% assign pid = include.p.id | default: include.p.title | slugify %}

<div class="project" id="{{ pid }}">
  <img src="{{ 'assets/gifs/' | append: include.p.gif | relative_url }}" alt="{{ include.p.alt | default: include.p.title }}">

  <div class="text">
    <h3 class="project-title">
      {{ include.p.title }} <a class="permalink" href="#{{ pid }}" aria-label="Permalink to {{ include.p.title }}">🔗</a>
    </h3>
    <div class="desc">
      {{ include.p.description | markdownify }}
    </div>

    {% if include.p.links %}
      <p>
        {% for l in include.p.links %}
          {{ l.label }}: <a href="{{ l.url }}">{{ l.text }}</a><br>
        {% endfor %}
      </p>
    {% endif %}

    {% if include.p.citation %}
      <p>{{ include.p.citation }}<br>
      Paper DOI: <a href="{{ include.p.doi }}">{{ include.p.doi | replace: "https://doi.org/", "" }}</a></p>
    {% endif %}
  </div>
</div>
